$white: #fdfdfd;
$grey: #eee;
$black: #444;
$red: #d64541;
$blue: #147ccc;
$green: #26a65b;
$yellow: #f5d76e;
$lightred: #ff9d9a;
$lightblue: #65bcff;
$lightyellow: #fff1bf;
$lightgreen: #87ffb9;

$main-font: 'Vollkorn', serif;
$second-font: 'Open Sans', sans-serif;
