$white: #fdfdfd;
$grey: #eee;
$darkgrey: #bbb;
$black: #444;
$red: #d64541;
$blue: #147ccc;
$green: #26a65b;
$yellow: #f5d76e;
$orange: #f89406;
$purple: #7E3DB5;
$azure: #6B8AC9;
$magenta: #B350BC;
$lime: #41AE38;
$blublue: #0C15CC;
$siena: #882D17;
$lightred: #ff9d9a;
$lightblue: #65bcff;
$lightyellow: #fff1bf;
$lightgreen: #87ffb9;
$lightorange: #ffb853;
$lighpurple: #D5A2FF;
$lightazure: #D4E2FF;
$lightmagenta: #F9B9FF;
$lightlime: #A6FF9F;
$lightblueblue: #5B63FF;
$lightsiena: #FF9278;

$main-font: 'Vollkorn', serif;
$second-font: 'Open Sans', sans-serif;

@mixin makeClickable() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

@mixin makeButton() {
    @include makeClickable();
    font-family: $second-font;
    color: $blue;
    background: $grey;
    padding: .4em 0.5em;
    border-radius: .25em;
    &:hover {
        color: white;
        background: $red;
    }
}
