---
---

@import "variables";

body {
    font-size: 16px;
    margin: 15px 15px 15px 15px;
}


/* TARGETS */
.highlight-parallelismo {
    background: $lightyellow;
}
.highlight-variatio {
    background: $lightred;
}
.highlight-anafora {
    background: $lightblue;
}
.highlight-chiasmo {
    background: $lightgreen;
}
.highlight-iperbato {
    background: $lightorange;
}
.highlight-endiadi {
    background: $lightpurple;
}
.highlight-poliptoto {
    background: $lightazure;
}
.highlight-anadiplosi {
    background: $lightmagenta;
}
.highlight-tmesi {
    background: $lightlime;
}
.highlight-ironia {
    background: $lightblueblue;
}
.highlight-zeugma {
    background: $lightsiena;
}
.vectorNumber {
    color: $black;
    position: relative;
    bottom: 0.75ex;
    padding: 0.25ex;
    margin: 0.25ex;
    background: $grey;
}

/* TRIGGERS */
#trigger-wrapper {
    position: fixed;
    top: 12%;
    padding: 10px;
    max-width: 200px;
    div {
        @include makeButton();
        height: 20px;
        width: 100px;
        float: left;
        background: $grey;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        border: medium solid $grey;
    }
    div:hover{
        border: medium solid $white;
        cursor: pointer;
    }
    div.clicked {
        color: $white;
        border: medium solid $white;
    }
    div.variatio.clicked {
        background: $red;
    }
    div.anafora.clicked {
        background: $blue;
    }
    div.parallelismo.clicked {
        background: $yellow;
    }
    div.chiasmo.clicked {
        background: $green;
    }
    div.iperbato.clicked {
        background: $orange;
    }
    div.endiadi.clicked {
        background: $purple;
    }
    div.poliptoto.clicked {
        background: $azure;
    }
    div.anadiplosi.clicked {
        background: $magenta;
    }
    div.tmesi.clicked {
        background: $lime;
    }
    div.ironia.clicked {
         background: $blueblue;
    }
    div.zeugma.clicked {
        background: $siena;
    }
}


/* FOOTNOTES */
.foot-number {
    @include makeClickable();
    color: $red;
    background: $grey;
    border-radius: 1ex;
    font-weight: 700;
    padding: 0.2em;
}
.foot-text {
    background: $grey;
    border-radius: 0.25ex;
    padding: 0.2em;
}


/* MOBILE */
/* RESPONSIVE */

#burger {
    @include makeClickable();
    visibility: hidden;
    font-size: 24px;
    background: $grey;
    border-radius: 0.5em;
    text-align: center;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 5px;
    margin: 1em 1em 1em 1em;
}

/* big screen */
@media only screen and (min-width: 1350px) {
    #trigger-wrapper {
        right: 25%;
    }
}

/* small screen */
@media only screen and (max-width: 1350px) {
    #trigger-wrapper {
        right: 12%;
    }
}

/* mobile*/
@media only screen and (max-width: 1150px) {
    #trigger-wrapper {
        position: fixed;
        right: -140px;  /* - (padding *2 + width */
        padding: 10px;
        background: $grey;
        width: 120px;
        height: 300px;
        overflow: auto;
        &.open {
            right: 0px;
        }
        .trigger {
            padding: 0px;
            background: inherit;
            border: none;
            text-align: left;
            border-bottom: medium solid $white;
            border-radius: 0px;
            &:hover {
                border: none;
                border-bottom: medium solid $white;
                color: $lightblue;
                background: $darkgrey;
            }
            &.clicked {
                border: none;
                border-bottom: medium solid $white;
            }
        }
    }
    #burger {
        visibility: visible;
    }
}

.noscroll {
    overflow: hidden;
}
