---
---

@import "variables";

body {
    font-size: 16px;
    margin: 15px 15px 15px 15px;
}

/* TARGETS */
.highlight-yellow {
    background: $lightyellow;
}
.highlight-red {
    background: $lightred;
}
.highlight-blue {
    background: $lightblue;
}
.highlight-green {
    background: $lightgreen;
}
.highlight-orange {
    background: $lightorange;
}
.vectorNumber {
    color: $black;
    position: relative;
    bottom: 0.75ex;
    padding: 0.25ex;
    margin: 0.25ex;
    background: $grey;
}

/* TRIGGERS */
#trigger-wrapper {
    position: fixed;
    right: 12%;
    top: 12%;
    padding: 10px;
    max-width: 200px;
    div {
        height: 20px;
        width: 100px;
        float: left;
        background: $grey;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        border: medium solid $grey;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    div:hover{
        border: medium solid $white;
        cursor: pointer;
    } 
    div.clicked {
        color: $white;
        border: medium solid $white;
    }
    div.red.clicked {
        background: $red;
    }
    div.blue.clicked {
        background: $blue;
    }
    div.yellow.clicked {
        background: $yellow;
    }
    div.green.clicked {
        background: $green;
    }
    div.orange.clicked {
        background: $orange;
    }
       
}

