<!DOCTYPE html>
<html>
    <head>
    {% include head.html%}
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/versioni.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script> 
        $(document).ready(function(){
            $('.trigger').on({
                mouseover: function(){
                    $('.target.' + $(this).attr('class').substr(8)).addClass('highlight')
                },
                mouseleave: function(){
                    if (!$(this).hasClass('clicked')) {
                        $('.target.' + $(this).attr('class').substr(8)).removeClass('highlight')
                    }
                },
                click: function(){
                    if ($(this).hasClass('clicked')) {
                        $('.target.' + $(this).attr('class').substr(8)).removeClass('highlight')
                        $(this).removeClass('clicked')
                    } else {
                        $('#trigger-wrapper > div').data('pinned','')
                        $('.trigger').removeClass('clicked')
                        $('.target').removeClass('highlight')
                        $('.target.' + $(this).attr('class').substr(8)).addClass('highlight');
                        $(this).addClass('clicked')
                    }
                }
            });
        });
    </script>
    </head>
    <body>
        {{ content }}
    </body>
</html>
